{
  "root": true,
  "env": { "browser": true, "node": true },
  "parserOptions": { "parser": "@typescript-eslint/parser" },
  "extends": [
    "@antfu",
    "plugin:vue/vue3-recommended",
    "plugin:tailwindcss/recommended",
    "prettier",
    "plugin:prettier-vue/recommended"
  ],
  "plugins": ["tailwindcss"],
  "rules": {
    "no-console": "off",
    "no-debugger": "off",
    "vue/script-setup-uses-vars": "error",
    "vue/multi-word-component-names": "off",
    "vue/define-macros-order": "off",
    "tailwindcss/no-custom-classname": [
      "error",
      { "whitelist": ["^ninja-(.*)$"] }
    ],
    "prettier-vue/prettier": [
      "error",
      {
        "printWidth": 80,
        "singleQuote": true,
        "semi": false,
        "trailingComma": "none"
      }
    ]
  }
}
